{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>
<form name="input" action="/search" method="get" data-ajax="false">
Author: <input type="search" name="name">
<input type="submit" value="Search">
</form>

<table>
    {% for data in args.data %}
    <tr>

      <td><a href="#" onClick="MyWindow=window.open('/authorstatistics/{{ data }}',
        'MyWindow',width=600,height=200); return false;">Stats for {{ data }}</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock %}