{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<div class="row" style="margin-top: 2rem;">
  <form name="input" action="/search" method="get" data-ajax="false">
    <div class="input-field col s12 m8">
      <input type="text" name="name" id="search_author">
      <label for="search_author">Author Name ( Input part of author's name )</label>
    </div>
    <div class="col s12 m4">
      <button class="waves-effect waves-light btn-large center-align" type="submit" name="action" onclick="showResult()"
              style="margin-top: 6px;width: 100%;">SEARCH
        <i class=" material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

<div class="row">
  <table class="striped centered">
    {%if args.data | length != 1 and args.data | length > 0 %}
    {% for data in args.data %}
    <tr>
      <td><a href="/authorstatistics/{{ data }}">Stats for {{ data }}</a></td>
    </tr>
    {% endfor %}
    {% elif args.data | length == 1 %}
    {% set header = ["Statistic", "Conference Paper", "Journal", "Book", "Book Chapter", "Overall"] %}
    {% for name in args.data[0][args.data[0]|length-1:args.data[0]|length] %}
    <h2>Stats for {{ name }}</h2>
    {%endfor%}
    <thead>
    <tr>
      {% for column in header %}
      <th><input type="submit" value="{{ column }}"></th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% set data = args.data[0][0:args.data[0]|length - 1] %}
    {%for row in data %}
    <tr>
      {% for data_item in row %}
      <td>{{ data_item }}</td>
      {% endfor %}
    </tr>
    </tbody>
    {% endfor %}
    {%else%}
    <!--<h2>That author does not exist</h2>-->
    {% endif %}
  </table>
</div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large tooltip red" href="#top" title="Go to the top">
    <i class="large material-icons">navigation</i>
  </a>
</div>


{% endblock %}