{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h4>{{ args.title }}</h4>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for author.." title="Type in a name">

<table class="striped centered">
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      {% set rowloop = loop %}
      {% if loop.index == 1 %}
        <td><a href="#" onClick="MyWindow=window.open('/authorstatistics/{{ data_item }}',
          'MyWindow',width=600,height=200); return false;">{{ data_item }}</a></td>
      {% else %}
        <td>{{ data_item }}</td>
      {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.trim().toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}