{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
{% for table in args.tables %}

<h5>{{ table.title }}</h5>
<table class="striped centered">
  <thead>
  <tr>
    {% for column in table.header %}
    <th class="tooltip" title="Click me to sort">{{ column }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in table.rows %}
  <tr>
    {% for data_item in row %}
    <td>{{ data_item }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}
<!-- visualize button -->
<div class="fixed-action-btn" style="bottom: 95px">
  <a href="{{ args.plotlink }}" class="btn-floating btn-large tooltip blue" title="Visualize">
    <i class="large material-icons">insert_chart</i>
  </a>
</div>
<!-- go to top button -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large tooltip red" href="#top" title="Go to the top">
    <i class="large material-icons">navigation</i>
  </a>
</div>
{% endblock %}
