<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='js/sort.js') }}"></script>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
<div id="page">

    <div id="header">
        <h1>COMP62521: {{ args.dataset }}</h1>
        <div id="navigation">
            <a href="/"><button type="button" id="homebutton"><span>Home</span></button></a>
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
