<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" href="{{ url_for('static', filename='css/plot_arrow.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-shadow.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    .card_margin_top {
      margin-top: 12px;
    }

    main {
      flex: 1 0 auto;
    }

    .self_shadow {
      -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .googleFont {
      font-family: 'Oswald', cursive;
    }

    .googleFont1 {
      font-family: 'Open Sans Condensed', sans-serif;
    }

    thead th:hover,
    li {
      cursor: pointer;
    }
  </style>
</head>
<body>


<nav id="#top">
  <ul id="dropdown1" class="dropdown-content">
    <li class="{{args.class_2}}">
      <a class="tooltip" href="/statisticsdetails/publication_summary" title="Show Publication Statistics Summary">Summary</a>

    </li>
    <li class="{{args.class_3}}">
      <a class="tooltip" href="/statisticsdetails/publication_author" title="Show Publication Statistics By Author">By
        Author</a>
    </li>
    <li class="{{args.class_4}}">
      <a class="tooltip" href="/statisticsdetails/publication_year" title="Show Publication Statistics By Year">By
        Year</a>
    </li>
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li class="{{args.class_9}}">
      <a class="tooltip" href="/get_degree_static_page" title="Show Relationship Between Two Authors">Degree of
        Separation</a>
    </li>
    <li class="{{args.class_10}}">
      <a class="tooltip" href="/author_network" title="Show Author's Research Network">Author Network</a>
    </li>
  </ul>


  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">NOETHER</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li class="{{args.class_1}}">
        <a class="tooltip" href="/" title="Go Back To Homepage">
          <i class="large material-icons">home</i>
        </a>
      </li>
      <li class="{{args.class_2}} {{args.class_3}} {{args.class_4}}">
        <a class="dropdown-button" href="#" data-activates="dropdown1">
          <i class="large material-icons left">book</i>
          Publication
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <li class="{{args.class_5}}">
        <a class="tooltip" href="/statisticsdetails/author_year" title="Show Statistics About Author By Year"><i
                class="large material-icons left">person</i>
          Author by Year</a>
      </li>
      <li class="{{args.class_6}}">
        <a class="tooltip" href="/averages" title="Show Statistics About Averaged Data">
          <i class="large material-icons left">assessment</i>
          Averaged Data
        </a>
      </li>
      <li class="{{args.class_7}}">
        <a class="tooltip" href="/coauthors" title="Show All Information About Co-Authors">
          <i class="large material-icons left">people</i>
          Co-Authors
        </a>
      </li>
      <li class="{{args.class_8}}">
        <a class="tooltip" href="/search" title="Fuzzy Search For Authors">
          <i class="large material-icons left">search</i>
          Search
        </a>
      </li>
      <li class="{{args.class_9}} {{args.class_10}}">
        <a class="dropdown-button" href="#" data-activates="dropdown2">
          <i class="large material-icons left">link</i>
          Relationships
          <i class="material-icons right">arrow_drop_down</i></a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="{{args.class_1}}">
        <a href="/">Home</a>
      </li>
      <li class="{{args.class_2}}">
        <a href="/statisticsdetails/publication_summary">Publication Summary</a>
      </li>
      <li class="{{args.class_3}}">
        <a href="/statisticsdetails/publication_author">Publication by Author</a>
      </li>
      <li class="{{args.class_4}}">
        <a href="/statisticsdetails/publication_year">Publication by Year</a>
      </li>
      <li class="{{args.class_5}}">
        <a href="/statisticsdetails/author_year">Author by Year</a>
      </li>
      <li class="{{args.class_6}}">
        <a href="/averages">Averaged Data</a>
      </li>
      <li class="{{args.class_7}}">
        <a href="/coauthors">Co-Authors</a>
      </li>
      <li class="{{args.class_8}}">
        <a href="/search">Search</a>
      </li>
      <li class="{{args.class_9}}">
        <a href="/get_degree_static_page">Degree of Separation</a>
      </li>
      <li class="{{args.class_10}}">
        <a href="/author_network">Author Network</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  {% block plot_bubble %}{% endblock %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</main>
<footer class="page-footer" style="padding-top: 16px">
  <div class="container">
    <div class="center row">
      <div>
        <span>
          <i class="material-icons" style="position: relative;top: 4px;right: 2px;">insert_drive_file</i>
          {{args.dataset}}
        </span>
      </div>
    </div>
  </div>
</footer>
<script src="{{ url_for('static', filename='js/cytoscape.js') }}"></script>
<script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/sort.js') }}"></script>
<script src="{{ url_for('static', filename='js/print.js') }}"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
        $('.tooltip').tooltipster({
            theme: 'tooltipster-shadow',
            animation: 'swing'
        });
    });
</script>
{% block plotjs %}{% endblock %}
</body>
</html>
