{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<div class="row">
  <form name="input" action="/coauthors" method="get" data-ajax="false" onSubmit="validateForm(this)">
    <div class="input-field col m6 l3 s12">
      <p class="range-field">Start Year
        <input type="range" name="start_year" min="{{ args.min_year }}" max="{{ args.max_year }}"
               value="{{ args.start_year }}">
      </p>
    </div>
    <div class="input-field col m6 l3 s12">
      <p class="range-field">End Year
        <input type="range" name="end_year" min="{{ args.min_year }}" max="{{ args.max_year }}"
               value="{{ args.end_year }}">
      </p>
    </div>
    <div class="input-field col m6 l3 s12" style="margin-top: 2.5rem;">
      <select name="pub_type">
        <option value="" disabled selected></option>
        <option value="4">All Publications</option>
        <option value="0" {% if args.pub_type== 0 %} selected="selected" {% endif %}>Conference Paper</option>
        <option value="1" {% if args.pub_type== 1 %} selected="selected" {% endif %}>Journal</option>
        <option value="2" {% if args.pub_type== 2 %} selected="selected" {% endif %}>Book</option>
        <option value="3" {% if args.pub_type== 3 %} selected="selected" {% endif %}>Book Chapter</option>
      </select>
      <label>Publication Type</label>
    </div>
    <div class="input-field col l3 s12" style="margin-top: 1.9rem">
      <button class="waves-effect waves-light btn-large center-align" type="submit" name="action"
              style="width: 100%;">SEARCH
        <i class=" material-icons right">send</i>
      </button>

    </div>
  </form>
</div>

<h5>{{ args.pub_str }} in {{ args.start_year }} {% if args.start_year != args.end_year %} - {{ args.end_year }}{% endif
  %}</h5>

<table>
  <thead>
  <tr>
    {% for column in args.data[0] %}
    <th>{{ column }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for row in args.data[1] %}
  <tr>
    {% for data_item in row %}
    {% set rowloop = loop %}
    {% if loop.index == 1 %}
    {% set names = data_item.split(' ') %}
    {% set names = names[0:names|length - 1] %}
    {% set names = names|join(' ') %}
    <td><a href="/authorstatistics/{{ names }}">{{ data_item }}</a></td>
    {% else %}
    <td>{{ data_item }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    {% for column in args.data[0] %}
    <th>{{ column }}</th>
    {% endfor %}
  </tr>
  </tfoot>
</table>

<!-- visualize button -->
<div class="fixed-action-btn" style="bottom: 95px;margin-right: 2rem;">
  <a href="{{ args.plotlink }}/{{args.pub_type}}/{{args.start_year}}/{{args.end_year}}"
     class="btn-floating btn-large tooltip blue" title="SEARCH FIRST">
    <i class="large material-icons">insert_chart</i>
  </a>
</div>
<!-- go to top button -->
<div class="fixed-action-btn" style="margin-right: 2rem;">
  <a class="btn-floating btn-large tooltip red" href="#top" title="Go to the top">
    <i class="large material-icons">navigation</i>
  </a>
</div>
<script>
    function validateForm(form) {
        start_year = form["start_year"].value;
        end_year = form["end_year"].value;
        if (end_year < start_year) {
            alert("Invalid date range");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
