{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<table class="striped centered">
  <thead>
  <tr>
    {% for column in args.data[0] %}
    <th class="tooltip" title="Click me to sort">{{ column }}</th>
    {% endfor %}
  </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
  <tr>
    <!-- if : there are author in the tables, add links to author column-->
    {% if args.title == "Author Publication" or args.title == "First, Last and Sole " %}
    {% for data_item in row %}
    {% set rowloop = loop %}
    {% if loop.index == 1 %}
    <td><a href="/authorstatistics/{{ data_item }}">{{ data_item }}</a></td>
    {% else %}
    <td>{{ data_item }}</td>
    {% endif %}
    {% endfor %}
    <!-- else : there is no author in the table -->
    {% else %}
    {% for data_item in row %}
    <td>{{ data_item }}</td>
    {% endfor %}
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 95px">
  <a class="btn-floating btn-large tooltip blue" title="Visualize">
    <i class="large material-icons">insert_chart</i>
  </a>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large tooltip red" href="#top" title="Go to the top">
    <i class="large material-icons">navigation</i>
  </a>
</div>
{% endblock %}
