{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<ul class="statistics">
  <a href="/statisticsdetails/publication_summary"><button type="button" class="stat"><span>Publication Summary</span></button></a>
  <a href="/statisticsdetails/publication_author"><button type="button" class="stat"><span>Publication by Author</span></button></a>
  <a href="/statisticsdetails/publication_year"><button type="button" class="stat"><span>Publication by Year</span></button></a>
  <a href="/statisticsdetails/author_year"><button type="button" class="stat"><span>Author by Year</span></button></a>
  <a href="/averages"><button type="button" class="stat"><span>Averaged Year Data</span></button></a>
  <a href="/coauthors"><button type="button" class="stat"><span>Co-Authors</span></button></a>
  <a href="/author_stats"><button type="button" class="stat"><span>Author Stats</span></button></a>
</ul>
{% endblock %}
